{% extends "base.html" %}

{% block content %}
    {% autoescape false %}
        {% for project in page.projects %}
            <h2>{{ project.name }}</h2>
            {% if project.screenshot %}
                <img src="{{ project.screenshot }}" height="200">
            {% endif %}
            {% if project.code and project.location %}
            <p>
                <a href={{ project.code }}>code</a>
                &nbsp;|&nbsp;
                <a href={{ project.location }}>see it in action</a>
            </p>
            {% elif project.code %}
                <p><a href={{ project.code }}>code</a></p>
            {% elif project.location %}
                <p><a href={{ project.location }}>see it in action</a></p>
            {% endif %}
            {{ project.description }}
        {% endfor %}
    {% endautoescape %}
{% endblock content %}
